In [1]:
import pandas as pd
import sqlite3

In [6]:
df = pd.read_csv("https://s3.amazonaws.com/tripdata/201709-citibike-tripdata.csv.zip")

In [8]:
db_col = df.columns
db_col

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
db_col[3]

'start station id'

In [11]:
db = sqlite3.connect('citibike.db')

url = "https://s3.amazonaws.com/tripdata/20170%s-citibike-tripdata.csv.zip"

for i in [5,6,7,8,9]:
    print(url %i)
    
    chunks = pd.read_csv(url % i, chunksize=100_000)
    for chunk in chunks:
        chunk.columns = [ col.replace(' ', '_') for col in chunk.columns ]
        chunk.to_sql('tripdata', db, if_exists='append')

https://s3.amazonaws.com/tripdata/201705-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201706-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201707-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201708-citibike-tripdata.csv.zip
https://s3.amazonaws.com/tripdata/201709-citibike-tripdata.csv.zip

In [12]:
db.close()

In [17]:
db = sqlite3.connect('citibike.db')

In [18]:
pd.read_sql_query('SELECT count(*) FROM tripdata', db)

   count(*)
0   8685057

In [19]:
%%time

pd.read_sql_query('SELECT AVG(tripduration) FROM tripdata', db)

Wall time: 3.56 s

   AVG(tripduration)
0        1055.770104

In [20]:
pd.read_sql_query('SELECT gender, usertype FROM tripdata GROUP BY gender, usertype', db)

   gender    usertype
0       0    Customer
1       0  Subscriber
2       1    Customer
3       1  Subscriber
4       2    Customer
5       2  Subscriber