In [1]:
students = [
    {"name": "윤인성", "korean": 87, "math": 98, "english": 88, "science": 95},
    {"name": "연하진", "korean": 92, "math": 96, "english": 96, "science": 98},
    {"name": "구지연", "korean": 76, "math": 94, "english": 94, "science": 90},
    {"name": "나선주", "korean": 98, "math": 92, "english": 96, "science": 92},
    {"name": "윤아린", "korean": 95, "math": 98, "english": 98, "science": 98},
    {"name": "윤명월", "korean": 64, "math": 88, "english": 92, "science": 92}
]


print("이름", "총점", "평균", sep="   ")

for student in students:
    score_sum = student["korean"] + student["math"] + student["english"] + student["science"]
    score_avg = score_sum / 4
    print(student["name"], score_sum, score_avg, sep="  ")

이름   총점   평균
윤인성  368  92.0
연하진  382  95.5
구지연  354  88.5
나선주  378  94.5
윤아린  389  97.25
윤명월  336  84.0

In [5]:
def student_get_sum(student):
    return student["korean"] + student["math"] + student["english"] + student["science"]

def student_get_avg(student):
    return student_get_sum(student) / 4

def student_to_string(student):
    return f'{student["name"]}, {student_get_sum(student)}, {student_get_avg(student)}'

students = [
    {"name": "연하진", "korean": 92, "math": 96, "english": 96, "science": 98},
    {"name": "구지연", "korean": 76, "math": 94, "english": 94, "science": 90},
    {"name": "나선주", "korean": 98, "math": 92, "english": 96, "science": 92},
    {"name": "윤아린", "korean": 95, "math": 98, "english": 98, "science": 98},
    {"name": "윤명월", "korean": 64, "math": 88, "english": 92, "science": 92}
]

print("이름", "총점", "평균", sep="   ")

for student in students:
    print(student_to_string(student))

이름   총점   평균
연하진, 382, 95.5
구지연, 354, 88.5
나선주, 378, 94.5
윤아린, 389, 97.25
윤명월, 336, 84.0

In [28]:
class School:
    def __init__(self, name, korean, math, english, science):
        self.name = name
        self.korean = korean
        self.math = math
        self.english = english
        self.science = science
    
    def student_get_sum(self):
        return self.korean + self.math + self.english + self.science

    def student_get_avg(self):
        return self.student_get_sum() / 4

    def to_string(self):
        return f'{self.name} : {self.student_get_sum()}, {self.student_get_avg()}'
    
    def __str__(self):
        

school = [School("연하진",92,96,96,98), School("구지연",76,94,94,90), School("나선주",98,92,96,92),
          School("윤인성",87,98,88,95), School("윤아린",95,98,98,98), School("윤명월",64,88,92,92)]

print("이름", "총점", "평균", sep="   ")
for _ in school:
    print(_.to_string())

이름   총점   평균
연하진 : 382, 95.5
구지연 : 354, 88.5
나선주 : 378, 94.5
윤인성 : 368, 92.0
윤아린 : 389, 97.25
윤명월 : 336, 84.0