# Pandas(판다스)

- 분석에 가장 많이 쓰는 패키지
- 시계열 데이터(Series)와 데이터프레임(DataFrame)를 제공

# Series

- 넘파이의 1차원 배열과 비슷
- 판다스에서는 Series에 index가 있음(딕셔너리의 Key와 비슷)
> ## 시리즈 = 인덱스(index) + 값(value)

In [1]:
import pandas as pd

In [22]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [3]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

> 인덱스 없이도 가능

In [4]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [6]:
s / 1000000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

## 인덱싱

In [7]:
s[0], s["부산"]

(9904312, 3448737)

In [8]:
for index, i in enumerate(s.index):
    print(index,i)

0 서울
1 부산
2 인천
3 대구

In [9]:
s[[0, 3, 1]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [10]:
s[["서울", "대구", "부산"]]

서울    9904312
대구    2466052
부산    3448737
dtype: int64

In [11]:
s[(2466052 < s) & (s < 9904312)]

부산    3448737
인천    2890451
dtype: int64

In [12]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [13]:
s[1:3]

부산    3448737
인천    2890451
dtype: int64

In [14]:
s["부산":"대구"]

부산    3448737
인천    2890451
대구    2466052
dtype: int64

- 딕셔너리 연산 가능

In [15]:
s.keys

<bound method Series.keys of 서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64>

In [16]:
s.부산

3448737

In [17]:
"서울" in s

True

In [18]:
for k, v in s.items():
    print("%s = %d" % (k, v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

- null값 확인

In [19]:
s.isnull()

서울    False
부산    False
인천    False
대구    False
dtype: bool

In [20]:
s[s.isnull()]

Series([], dtype: int64)

## 데이터 변형

In [33]:
s.서울 = 100
s

서울        100
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [34]:
s.drop('대구')

서울        100
부산    3448737
인천    2890451
dtype: int64

In [24]:
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [25]:
s1=s.drop('대구')
s1

서울    9904312
부산    3448737
인천    2890451
dtype: int64